@media print {


/* ------------------------------------ */
/* ----CORPO, SFONDO E BARRA LATERALE-- */
/* ------------------------------------ */


body {
	font-family: Georgia, serif;
	font-size: 1em;
	color: #000;
	background-color: #fff;
}
a:link:after, a:visited:after {
	content: "[" attr(href) "] ";
	font-size: 90%;
}
#prettyimage {
	display: none;
}
#header {
	text-align: center;
}
#header #logo {
	width: 40%;
}
#salta {
	display: none;
}
#tornasu {
	display: none;
}
#posizione {
	text-align: center;
	padding: 1em;
}
#bar {
	display: none;
}
#corpo {
	padding: 1em;
	border: 1px solid #000;
}
#footer {
	display: none;
}


/* ------------------------------------ */
/* ---------------PAGINE--------------- */
/* ------------------------------------ */
/* HOMEPAGE                             */
/* ------------------------------------ */
.imagecontainer {
	display:none;
}

.button {
	display: none;
}

.flatbutton {
	display: none;
}
.floatright30 {
	display: none;
}
.floatright70 {
	display: none;
}

/* FORM E GESTIONE ERRORI               */
/* ------------------------------------ */
.errorbox {
	margin-top:1em;
	margin-bottom:1em;

	font-size: 1.5em;
}

.formfields {
	padding: 10px;
}

.formfields legend {
	margin-top:1em;

	font-size: 1.1em;
	font-weight: bold;
}

.formfields ul {
	padding: 0px 0px 10px 0px;

    list-style: none;
}

.formfields label {
	display:block;
	width: 100%;
	max-width: 375px;
	padding: 17px 0px 3px 0px;

	vertical-align:text-bottom;
}

.formfields input {
	width: 100%;
	max-width: 375px;
	display: block;
	height: 25px;

	border: 1px solid #999;
}

.formfields textarea {
	display: block;
	width: 100%;
	max-width: 370px;
	height: 150px;

	border: 1px solid #999;
}

.formfields select {
	display: block;
	width: 100%;
	max-width: 70px;

	border: 1px solid #999;
}


.formfields button {
	display: none;
}

}