<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
  <TMPL_VAR HEADER>
  <body>
  <div id="prettyimage"></div>
  <div id="header"><a href="index.cgi"><img id="logo" src="../images/logo.gif" alt="EmpireCon"/></a></div>
  <div id="contenuto">
    <div id="posizione">
       Ti trovi in: <span id="nomeposizione"><TMPL_VAR PATH></span>
        <a id="salta" href="#corpo">Salta al contenuto.</a>
    </div>
    <div id="bar">
      <TMPL_UNLESS LOGINPAGE>
	<div id="login">
          <!-- <TMPL_VAR ERRORE> -->
	  <TMPL_UNLESS UTENTE>
	    <form method="post" action="login.cgi">
		<fieldset>
		  <legend><span xml:lang="en">Login</span>: inserisci i tuoi dati.</legend>
		  <p><label for="username"><span xml:lang="en">Username</span>:</label>
		  <input class="field" type="text" name="username" id="username" value="" size="16" /></p>
		  <p><label for="password"><span xml:lang="en">Password</span>:</label>
		  <input class="field" type="password" name="password" id="password" value="" size="16" /></p>
		  <p><input class="button" type="submit" value="Login" />
		  <a class="button" accesskey="r" href="registrazione.cgi">Registrati</a></p>
		</fieldset>
		<input type="hidden" name="referrer" value="<TMPL_VAR RIFE ESCAPE=HTML>" />
		<input type="hidden" name="submitted" value="1" /> 
	    </form>
	  <TMPL_ELSE>
	    <p>Accesso effettuato: <TMPL_VAR UTENTE></p>
	    <p><a class="button" accesskey="u" href="areautente.cgi">Area utente</a>
	    <a class="button" accesskey="l" href="logout.cgi"><span xml:lang="en">Logout</span></a></p>
	  </TMPL_UNLESS>
	</div>
      </TMPL_UNLESS>
     <div id="nav">
        <ul>
           <li><a accesskey="h" href="index.cgi"><span xml:lang="en">Home</span></a></li>
           <li><a accesskey="e" href="eventi.cgi">Eventi</a></li>
           <li><a accesskey="a" href="acquistaBiglietti.cgi">Acquista biglietti</a></li>
           <li><a accesskey="p" href="padiglioni.cgi">Padiglioni</a></li>
           <li><a accesskey="c" href="commenti.cgi">Commenti</a></li>
           <li><a accesskey="d" href="dovesiamo.cgi">Dove siamo</a></li>
           <li><a accesskey="n" href="contatti.cgi">Contatti</a></li>
           <TMPL_IF UTENTE>
             <!--<li><a accesskey="g" href="gestioneBiglietti.cgi">Gestione biglietti</a></li>-->
             <li><a accesskey="g" href="bigliettiAcquistati.cgi">Biglietti acquistati</a></li>
           </TMPL_IF>
           <TMPL_IF ADMIN>
             <li><a accesskey="r" href="controlloRicavi.cgi">Controllo ricavi</a></li>
           </TMPL_IF>
        </ul>
    </div>
  </div>
  <div id="corpo">
    <TMPL_VAR CONTENUTO>
  </div>
  <div id="tornasu">
      <a class= "button" href="#corpo">Torna su</a>
  </div>
  <TMPL_VAR FOOTER>
  </div>
</body>
</html>
