<TMPL_IF AUTENTICATO>
  <TMPL_IF ACQUISTA>
    <form method="post" action="acquistaBiglietti.cgi">
      <ul>
        <TMPL_LOOP NAME="INFOBIGLIETTI">
          <li>
            <TMPL_VAR NAME="QUANTITA" ESCAPE=HTML> del tipo <TMPL_VAR NAME="ID" ESCAPE=HTML>, al prezzo di <TMPL_VAR NAME="PREZZO" ESCAPE=HTML> ciascuno
            <input type="hidden" id="<TMPL_VAR NAME="ID" ESCAPE=HTML>" name="<TMPL_VAR NAME="ID" ESCAPE=HTML>" value="<TMPL_VAR NAME="QUANTITA" ESCAPE=HTML>" />
          </li>
        </TMPL_LOOP>
      </ul>
      <input type="submit" value="Conferma" name="conferma" />
      <input type="submit" value="Modifica" name="modifica" />
    </form>
  <TMPL_ELSE>
    <TMPL_IF CONFERMA>
      <p>Si conferma l'acquisto dei seguenti biglietti:</p>
      <ul>
        <TMPL_LOOP NAME="INFOBIGLIETTI">
          <li>
            <TMPL_VAR NAME="QUANTITA" ESCAPE=HTML> del tipo <TMPL_VAR NAME="ID" ESCAPE=HTML>, al prezzo di <TMPL_VAR NAME="PREZZO" ESCAPE=HTML> ciascuno
          </li>
        </TMPL_LOOP>
      </ul>
      <a href="bigliettiAcquistati.cgi">Tutti i biglietti acquistati</a>
    <TMPL_ELSE>
        <h2>Acquista ora i tuoi biglietti!</h2>
        <p>Per poter partecipare all'<span xlm:lang="en">Empire Con</span> è necessario avere i biglietti: approfittane subito ed acquistali!</p>
        <p>Sono disponibili diverse tipologie di biglietto ed è possibile acquistare più di un biglietto per utente: potrai quindi acquistare i biglietti sia per te che per i tuoi amici.</p> 
        <form method="post" action="acquistaBiglietti.cgi">
          <TMPL_LOOP NAME="INFOBIGLIETTI">
            <fieldset> <legend>Biglietti del tipo <TMPL_VAR NAME="ID" ESCAPE=HTML></legend> 
              <TMPL_VAR NAME="DESCRIZIONE" ESCAPE=HTML>, al prezzo di 
              <TMPL_VAR NAME="PREZZO" ESCAPE=HTML> euro.
              <label for="<TMPL_VAR NAME="ID" ESCAPE=HTML>">Quantità:</label>
              <input type="text" name="<TMPL_VAR NAME="ID" ESCAPE=HTML>" id="<TMPL_VAR NAME="ID" ESCAPE=HTML>" value="<TMPL_VAR NAME="QUANTITA" ESCAPE=HTML>"/></p>
            </fieldset>
          </TMPL_LOOP>
          <input type="hidden" id="acquista" name="acquista" value="1" />
          <input type="submit" value="Acquista" name="acquista" />
          <input type="reset" value="Cancella i dati">
          </fieldset>
      </form>
      <TMPL_IF ERRQTA>
        <p>Errore: controlla se quello che hai inserito è un numero e, se è un numero, che non sia negativo o con la virgola.</p>
      </TMPL_IF>
      <TMPL_IF ZEROBIGLIETTI>
        <p>Errore: non è stato selezionato nessun biglietto.</p>
      </TMPL_IF>
    </TMPL_IF>
  </TMPL_IF>  
<TMPL_ELSE>
  <p>Per poter partecipare all'<span xml:lang="en">Enpire Con</span> è necessario essere in possesso di un biglietto.</p>
  <p>Sono disponibili le seguenti tipologie di biglietti:</p>
    <ul>
      <TMPL_LOOP NAME="INFOBIGLIETTI">
        <li>
          Il tipo <TMPL_VAR NAME="ID" ESCAPE=HTML> <TMPL_VAR NAME="DESCRIZIONE" ESCAPE=HTML> al costo di <TMPL_VAR NAME="PREZZO" ESCAPE=HTML> euro
        </li>
      </TMPL_LOOP>
    </ul>
  <p>Per poter effettuare l'acquisto dovrai però prima <a href="login.cgi">effettuare il <span xml:lang="en">login</span></a>.</p>
</TMPL_IF>