<TMPL_IF AUTENTICATO>
  <TMPL_IF NACQUISTITOT>
    <p>Finora hai acquistato:</p>
    <TMPL_LOOP NAME="INFOACQUISTI">
      <p>
        Tipo <TMPL_VAR NAME="ID" ESCAPE=HTML> per il costo di 
        <TMPL_VAR NAME="PREZZO" ESCAPE=HTML>€ caduno:</p>
        <TMPL_LOOP NAME="INFO_DATATIME">
          <p><TMPL_VAR NAME="NACQUISTI" ESCAPE=HTML> il giorno <TMPL_VAR NAME="DATE" ESCAPE=HTML> alle ore <TMPL_VAR NAME="TIME" ESCAPE=HTML></p>
        </TMPL_LOOP>
    </TMPL_LOOP>
  <TMPL_ELSE>
    <p>Non hai ancora acquistato nessun biglietto</p>
  </TMPL_IF>
<TMPL_ELSE>
  <p>Attenzione : per visualizzare i biglietti acquistati devi prima effetturare il <span xml:lang="en">login</span> </p>
</TMPL_IF AUTENTICATO>