<h1>Contatti</h1>
<div id="contactsimage"></div>

<p> Chiama subito il nostro centralino per informazioni sui costi, orari e metodi di tortura. I nostri operatori sono disponibili 24/7. Chiama al:</p>
<h2>+39 666 8 56 8 56 - 333 2 56 8 56</h2>
<p>Problemi durante l'acquisto dei biglietti? Dubbi? Perplessità? Il tuo trasporto è stato <em>accidentalmente</em> catturato dal nostro radiofaro traente? Contatta
  <a href="mailto:info@empirecon.com">info@empirecon.com</a>
    per ricevere assistenza. </p>
