<h1>Contatti</h1>
<img class = "floatright" src = "../images/contacts.png" />
<p> Chiama subito il nostro centralino per informazioni sui costi, orari e metodi di tortura. I nostri operatori sono disponibili 24/7. Chiama al:</p>
<h2>+39 666 8 56 8 56 - 333 2 56 8 56</h2>
<p>In caso di problemi con l'acquisto di biglietti, scrivere a
  <a href="mailto:info@empirecon.com">
    info@empirecon.com
  </a>
    per ricevere assistenza.</p>
