<h1>Controllo Ricavi</h1>
<TMPL_IF AUTENTICATO>
  <TMPL_IF ADMIN>
    <p>In questa pagina potrai tenere sotto controllo gli acquisti effettuati dagli utenti e i ricavi ottenuti dalla vendita dei prodotti.</p>
    <h2>Vendite Biglietti</h2>
    <table id="ricavi" summary="Riepilogo dei ricavi dei biglietti venduti su 5 colonne. -->
      Nella prima colonna l'identificativo e la descrizione della tipologia del biglietto;
      nella terza il prezzo unitario della tipologia di biglietti;
      nella quarta il numero dei biglietti venduti per la tipologia;
      nella quinta il ricavo totale per la tipologia.
      Non ci sono celle vuote.
    ">
    <caption>Riepilogo dei ricavi dei biglietti venduti</caption>
      <thead>
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Descrizione</th>
          <th scope="col">Prezzo unitario</th>
          <th scope="col">Numero di biglietti venduti</th>
          <th scope="col">Ricavo totale</th>
        </tr>
        </thead>
        <tbody>
          <TMPL_LOOP NAME=INFORICAVI>
            <tr>
              <td><TMPL_VAR ID></td>
              <td><TMPL_VAR DESCRIZIONE></td>
              <td><TMPL_VAR PREZZO></td>
              <td><TMPL_VAR QUANTITA></td>
              <td><TMPL_VAR RICAVO></td>
            </tr>
          </TMPL_LOOP>
        </tbody>
    </table>
    <h2>Ricavo totale</h2>
    <p>Sono stati venduti in totale <TMPL_VAR NTOTALEBIGLIETTI> biglietti, per un ricavo complessivo <TMPL_VAR RICAVOTOTALE> euro</p>
  <TMPL_ELSE>
    <p>Solo gli amministratori sono autorizzati a visualizzare questa pagina.</p>
  </TMPL_IF>
<TMPL_ELSE>
  <p>Per visualizzare questa pagina devi prima <a href="login.cgi">effettuare il <span xml:lang="en">login</span></a>.</p>
</TMPL_IF>