<h1>Dove siamo</h1>
<p>La Morte Nera II, sede di EmpireCon, è in orbita attorno a <span xml:lang="en">Endor</span>. Le sue coordinate GPS sono:</p>
<h2>RA 14h 39m 37s | Dec -60° 50′ 2″</h2>
<p>Consigliamo di caricare i generatori dell'astronave al massimo perché il balzo iperspaziale richiederà un'ingente quantità di energia: Endor è situato ai bordi della galassia. </p>
<p>Vi preghiamo inoltre di non rivelare le coordinate della Morte Nera II a membri della Resistenza.</p>
<img src="../images/DoveSiamo.jpg" alt="Cartina degli ingressi e dei parcheggi." class = "floatright70" />
