<TMPL_VAR ERRORE>
<TMPL_VAR RIFE>
<h2>Benvenuti</h1>
	<p> Benvenuti nel sito ufficiale dell'evento più atteso del millennio. Ospitato nella nascente Morte Nera II, <span xml:lang="en">EmpireCon</span> vi darà l'imperdibile opportunità di conoscere le nuove tecnologie che l'Impero ha in serbo per i prossimi anni, nonché la possibilità di assistere al discorso annuale di Sua Eminenza l'Imperatore <span xml:lang="en">Palpatine</span>. </p>

<div class="row"></div>
<h2> <span xml:lang="en">News</span> e informazioni </h2>
<p class="date"> 13 Giuglio, 4 ABY</date>
<h4> BIGLIETTI ORA ACQUISTABILI ONLINE </h3>
	<div class="imagecontainer"><a href="../images/news/tickets.jpg"><img src="../images/news/tickets.jpg" alt="Immagine: i biglietti di EmpireCon sono costruiti in jhambafex, un materiale laser-resistente." class="imagepreview"></a>
	</div>
<p> Annunciamo con grande orgoglio l'apertura del negozio <span xml:lang="en">online</span> per l'acquisto dei biglietti, necessari per partecipare all'evento. Già 198.410 biglietti sono stati acquistati nelle ultime due ore... e tu, bifolco, cosa stai aspettando? <a href="../cgi-bin/acquisti.cgi">Acquista subito un biglietto cliccando qui!</a> </p>



<div class="row"></div>
<p class="date"> 8 Giuglio, 4 ABY</date>
<h4> SICUREZZA AUMENTATA NEGLI SPAZIOPORTI </h3>
	<div class="imagecontainer"><a href="../images/news/chewi2.jpg"><img src="../images/news/chewi2.jpg" alt="Immagine: un Wookie viene arrestato per atti di terrorismo allo spazioporto di Kimnea." class="imagepreview"></a>
	<a href="../images/news/chewi1.jpg"><img src="../images/news/chewi1.jpg" alt="Immagine: Il Wookie terrorista viene ammanettato e scortato alle Prigioni Imperiali." class="imagepreview"></a>
    </div>
<p> In previsione dell'apertura di <span xml:lang="en">EmpireCon</span>, abbiamo aumentato il numero di guardie e Truppe d'Assalto negli spazioporti di tutti i pianeti sotto controllo dell'Impero. Due giorni fa, il 6 Giuglio 4 ABY, le forze speciali di <span xml:lang="en">Henteren</span> hanno bloccato un pericoloso criminale appartenente alla Resistenza mentre cercava di imbarcarsi con documenti falsi in una nave da carico diretta verso la Morte Nera II. Il terrorista, un <span xml:lang="en">Wookie</span> proveniente da <span xml:lang="en">Kashyyyk</span>, è stato prontamente terminato. </p>



<div class="row"></div>
<p class="date"> 7 Giuglio, 4 ABY</date>
<h4> MORTE NERA II PRONTA PER Brumaio 15 ABY </h3>
	<div class="imagecontainer"><a href="../images/news/deathstar1.jpg"><img src="../images/news/deathstar1.jpg" alt="Immagine: La Morte Nera II in costruzione. Foto del 1 Giglio 4 ABY." class="imagepreview"></a>
	<a href="../images/news/deathstar2.jpg"><img src="../images/news/deathstar2.jpg" alt="Immagine: Il Nostro Salvatore il Lustrissimo Darth Fener." class="imagepreview"></a>
    </div>
<p> Oggi, 7 Giuglio 4 ABY, <span xml:lang="en">Darth Fener</span> ha annunciato che la Morte Nera II sarà pronta per i primi giorni di Brumaio 15 ABY. "L'Impero non può aspettare oltre. Shhhh. I ribelli verranno schiacciati come asteroidi! Shhhh." afferma il Signore Oscuro dei <span xml:lang="en">Sith</span>. Dopo lo scandalo dell'adamantio riciclato dello scorso mese, costato all'Impero 5.000.000.000 di crediti, il cantiere della Morte Nera è ripreso a pieno regime e le assunzioni di manovali spaziali sono aumentate del 50%. </p>


<div class="row"></div>
<p class="date"> 2 Giuglio, 4 ABY</date>
<h4> IL RE DEI CLONI PARTECIPERÀ AD EMPIRECON </h3>
	<div class="imagecontainer"><a href="../images/news/elvis1.jpg"><img src="../images/news/elvis1.jpg" alt="Immagine: Il Re Dei Cloni stringe la mano a Darth Fener." class="imagepreview"></a>
	<a href="../images/news/elvis2.jpg"><img src="../images/news/elvis2.jpg" alt="Immagine: Il Re dei Cloni umilia un gruppo di Jedi con le sue arti marziali." class="imagepreview"></a>
    </div>
<p> Lo ha annunciato oggi <span xml:lang="en">Sigma Xotoxin</span>, portavoce dell'Impero: <span xml:lang="en">Menphis Presla</span>, il Re dei Cloni, parteciperà alla prima edizione di <span xml:lang="en">EmpireCon</span>. Un intero padiglione sarà riservato all'evento, nel quale verranno installati amplificatori concessi dal gruppo rock <span xml:lang="en">Disaster Area</span>. </p>
