<h1>Pagina di <span xml:lang="en">Login</span></h1>
<p>Per accedere alle aree protette del sito è necessario effettuare il <span xml:lang="en">login</span>.</p>
<p>Non sei ancora iscritto? <a accesskey="r" href="registrazione.cgi">Registrati qui!</a></p>
<div class="errorbox"><TMPL_VAR ERRORE></div>
<form method="post" action="login.cgi" class="formfields">
  <fieldset>
    <ul>
	  <legend>Login:</legend>
	  <li xml:lang="en"><label for="username">Username:</label>
	  <input type="text" name="username" id="username" value="" size="16"/></li>
    <li xml:lang="en"><label for="password">Password:</label>
	  <input type="password" name="password" id="password" value="" size="16" /></li>
	  </ul>
	  </fieldset>
	  <input class ="button" type="submit" value="Procedi" />
	  <input type="hidden" name="referrer" value="<TMPL_VAR RIFE ESCAPE=HTML>" />
	  <input type="hidden" name="submitted" value="1" />
</form>
