<h1>Padiglioni</h1>
<div id="mappa">
  <img src="" />
</div>
<div id="padiglioni">
  <dl>
    <dt>Settore nord:</dt>
    <TMPL_LOOP NAME=NORD>
      <dd><a href="eventi.cgi?sort=2#<TMPL_VAR NOME />"><TMPL_VAR NOME /></a></dd>
    </TMPL_LOOP>
    </dt>
    <dt>Settore est:</dt>
    <TMPL_LOOP NAME=EST>
      <dd><a href="eventi.cgi?sort=2#<TMPL_VAR NOME />"><TMPL_VAR NOME /></a></dd>
    </TMPL_LOOP>
    </dt>
    <dt>Settore sud:</dt>
    <TMPL_LOOP NAME=SUD>
      <dd><a href="eventi.cgi?sort=2#<TMPL_VAR NOME />"><TMPL_VAR NOME /></a></dd>
    </TMPL_LOOP>
    </dt>
    <dt>Settore ovest:</dt>
    <TMPL_LOOP NAME=OVEST>
      <dd><a href="eventi.cgi?sort=2#<TMPL_VAR NOME />"><TMPL_VAR NOME /></a></dd>
    </TMPL_LOOP>
    </dt>
  </dl>
</div>
