<h1>Padiglioni</h1>
<p>Clicca su una lettera nell'elenco per visualizzare gli eventi per quel padiglione.</p>
<p>Clicca sulla mappa per ingrandire l'immagine.</p>
<div id="mappa">
  <img src="" />
</div>
<a href="../images/Mappa.jpg"><img src="../images/Mappa-Anteprima.png" alt="Immagine della planimetria della fiera." class = "floatright70"></a>

<div id="padiglioni">
  <dl>
    <dt>Settore nord:</dt>
    <TMPL_LOOP NAME=NORD>
      <dd><a href="eventi.cgi?sort=0#<TMPL_VAR NOME />"><TMPL_VAR NOME /></a></dd>
    </TMPL_LOOP>
    </dt>
    <dt>Settore est:</dt>
    <TMPL_LOOP NAME=EST>
      <dd><a href="eventi.cgi?sort=0#<TMPL_VAR NOME />"><TMPL_VAR NOME /></a></dd>
    </TMPL_LOOP>
    </dt>
    <dt>Settore sud:</dt>
    <TMPL_LOOP NAME=SUD>
      <dd><a href="eventi.cgi?sort=0#<TMPL_VAR NOME />"><TMPL_VAR NOME /></a></dd>
    </TMPL_LOOP>
    </dt>
    <dt>Settore ovest:</dt>
    <TMPL_LOOP NAME=OVEST>
      <dd><a href="eventi.cgi?sort=0#<TMPL_VAR NOME />"><TMPL_VAR NOME /></a></dd>
    </TMPL_LOOP>
    </dt>
  </dl>
</div>
